@import "tailwindcss";
@plugin './hero.js';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.sidebar span{
    font-size: 18px;
    font-weight: 600;
    font-family: cursive;
}
.home .title h1{
font-size: 36px;
font-weight: 700;
font-family: "Pacifico", cursive;
background: linear-gradient(to right ,rgb(242, 150, 37),rgb(221, 93, 69));
background-clip: text;
color: transparent;
}
.card h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: cursive;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    font-family: cursive;
}
.card button{
    font-size: 16px;
    font-weight: 600;
    font-family: cursive;
    
}
.details{
    background-color: #F4F2EE;
}
.details .name{
    font-weight: 600;
    font-size: 48px;
    font-family: "Pacifico", cursive;
}
.details p{
    font-size: 16px;
    font-weight: 400;
    font-family: cursive;
}
.details .box{
    font-size: 24px;
    font-weight: 600;
    font-family: cursive;
}
.details .box h3{
    font-size: 16px;
    font-weight: 400;
    font-family: "Pacifico", cursive;
    
}
.footer h2{
    font-size: 24px;
    font-weight: 600;
    font-family: cursive;
}
.footer p{
    font-size: 14px;
    font-weight: 400;
    font-family: cursive;
}
